.button-right
{
	text-align: right;
	float: right;
}

.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
table th,table td{
	text-align: center;
	font-weight: 500;
	vertical-align: middle !important;
}

.kubk_bordered_table,.table > thead > tr > th,
.kubk_bordered_table,.table > tbody > tr > th,
.kubk_bordered_table,.table > tfoot > tr > th,
.kubk_bordered_table,.table > thead > tr > td,
.kubk_bordered_table,.table > tbody > tr > td,
.kubk_bordered_table,.table > tfoot > tr > td {
  border: 1px solid #000 !important;
  border-right-width:0px;
  border-left-width:0px;
}

.spacer1x { margin-top:25px; padding:0; height:50px; }

.fileupload {
    margin-bottom: 0;
}
.fileupload .uneditable-input {
    cursor: text;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    vertical-align: middle;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    border-radius: 0;
}
.thumbnail-borderless .thumbnail {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    border-color: #a47e3c;
    color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    border-color: #b94a48;
    color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    border-color: #468847;
    color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}