<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RBCL | Always with you</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Meta tags-->
<meta name="author" content="RBCL">
<meta name="subject" content="Insurance Company">
<meta name="Description" content="The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal Government">
<meta name="Classification" content="The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal Government for mobilization of internal resources and capital for national development, for checking burden of expense of foreign currency and to establish as a competent professional insurance company. Consequently, till its tenure, as of this day, this company has been successful in providing returns as per the goals and objectives set forth by the Government of Nepal. ">
<meta name="Keywords" content="Insurance, Nepal, Insurance Company, Auto Insurance, Property Insurance, Medical Insurance">
<meta name="Language" content="English">
<meta http-equiv="cache-control" content="private">
<meta name="Copyright" content="Dryice Solutions Pvt. Ltd.">
<meta name="Designer" content="Yogesh Basnet">
<meta name="Publisher" content="Dryice Solutions Pvt. Ltd.">
<meta name="distribution" content="Global">

<!--stylesheets-->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/custom_style.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
<link rel="stylesheet" type="text/css" href="fonts/fa/css/font-awesome.min.css">
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="business-area">
          <div class="business-logo"> <img src="img/logo.png" alt="RBCL Logo"> </div>
          <div class="business-name">
            <h1>Rastriya Beema <span> Company Limited</span> </h1>
          </div>
          <div class="tagline">always with you </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="top_bar">
          <ul class="list-unstyled list-inline text-right">
            <li class="list-inline-item">Check Mail</li>
            <li class="list-inline-item">Nepali</li>
          </ul>
        </div>
        <div class="botm_nav">
          <nav class="navbar navbar-expand-lg navbar-light cust_back">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Company</a> </li>
                <!--
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Dropdown
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#">Action</a>
						  <a class="dropdown-item" href="#">Another action</a>
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item" href="#">Something else here</a>
						</div>
					  </li>
-->
                <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Reports</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Media</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
              </ul>
              <ul class="my-2 my-lg-0">
                <li><a href="#">o</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>
<section class="top_innerpage" style="background: url(img/slide1.jpg);background-position: 70% 0;">
  <div class="ti-content text-center">
    <div class="title-ti"> Gallery </div>
    <div class="breadcrums">
      <ol class="list-unstyled list-inline">
        <li class="list-inline-item breadcrumb-item"><a href="#">Home</a></li>
        <!--        <li class="list-inline-item breadcrumb-item"><a href="#">Claims</a></li>-->
        <li class="list-inline-item breadcrumb-item active" aria-current="page">Gallery</li>
      </ol>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="inner-page gallery">
  <div class="container">
    <div class="rbcl-gallery">
      <div class="row">
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_portrait_13-675x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_kids_15-675x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_portrait_11-674x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_portrait_11-674x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_portrait_13-675x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
        <div class="col-12 col-lg-4"> <a href="innerpage-gallery.html">
          <div class="rbcl-gallery-image-holder"> <img src="img/gallery/pinhole_kids_15-675x450.jpg" alt="Gallery Pics"> </div>
          <div class="rbcl-gallery-info">
            <div class="gallery-info-title"> AGM 2017 <span><small>13 Photos</small></span> </div>
          </div>
          </a> </div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/speaker.png" alt="24/7 customer care"> <span> 24/7 customer care </span> </a> </div>
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/contact.png" alt="Get in touch wth us"> <span> Get in touch wth us </span> </a> </div>
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/request call back.png" alt="Request a Call Back"> <span> Request a Call Back </span> </a> </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="footer-title"> Insurance Offerings </div>
        <div class="i_offering">
          <ul class="list-unstyled">
            <li><a href="#">Fire Insurance</a></li>
            <li><a href="#">Aviation Insurance</a></li>
            <li><a href="#">Engineering Insurance</a></li>
            <li><a href="#">Travel Medical Insurance</a></li>
            <li><a href="#">Motor Insurance</a></li>
            <li><a href="#">Marine Insurance</a></li>
            <li><a href="#">Medical Aid Insurance</a></li>
            <li><a href="#">Miscellaneous Insurance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="footer-title"> Quick Service Links </div>
            <div class="quick_links">
              <ul class="list-unstyled">
                <li class=""><a href="#">Report a claim</a></li>
                <li class=""><a href="#">Make a payment</a></li>
                <li class=""><a href="#">Register for an account</a></li>
                <li class=""><a href="#">Forgot username / password</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="footer-title"> Contact Information </div>
            <div class="address-info">
              <address>
              <strong>Rastriya Beema Company Ltd</strong><br>
              R.B.S Building, Ramshahpath<br>
              P.O.ox :23837,Kathmandu<br>
              <abbr title="Phone">Phone:</abbr> (0977) 01-4258866<br>
              <abbr title="Fax">Fax:</abbr> (0977) 01-4258866<br>
              <abbr title="Email">Email:</abbr> info@rbcl.com.np<br>
              <abbr title="Website">Web:</abbr> www.rbcl.com.np<br>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-menu-social">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Company</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">Reports</a></li>
            <li class="list-inline-item"><a href="#">Media</a></li>
            <li class="list-inline-item"><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-5">
          <ul class="list-unstyled list-inline text-right">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6"> &copy; RBCL 2017. </div>
        <div class="col-12 col-lg-6">
          <div class="text-right"> Crafted with love </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--javascrits--> 
<script src="js/jquery-3.2.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script rel="javascript" src="js/bootstrap.min.js"></script> 
<script rel="javascript" src="js/animatedModal.js"></script> 
<script rel="javascript" src="js/classsie.js"></script> 
<script>
		$(document).ready(function(){
			$(".box-others").click(function(){
				$(".test").addClass("dis");
			});
			
});
		$(document).ready(function(){
			$(".close").click(function(){
				$(".test").removeClass("dis");
			});
			
});
</script>
</body>
</html>
