<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>RBCL | Always with you</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Meta tags-->
<meta name="author" content="RBCL">
<meta name="subject" content="Insurance Company">
<meta name="Description" content="The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal Government">
<meta name="Classification" content="The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal Government for mobilization of internal resources and capital for national development, for checking burden of expense of foreign currency and to establish as a competent professional insurance company. Consequently, till its tenure, as of this day, this company has been successful in providing returns as per the goals and objectives set forth by the Government of Nepal. ">
<meta name="Keywords" content="Insurance, Nepal, Insurance Company, Auto Insurance, Property Insurance, Medical Insurance">
<meta name="Language" content="English">
<meta http-equiv="cache-control" content="private">
<meta name="Copyright" content="Dryice Solutions Pvt. Ltd.">
<meta name="Designer" content="Yogesh Basnet">
<meta name="Publisher" content="Dryice Solutions Pvt. Ltd.">
<meta name="distribution" content="Global">

<!--stylesheets-->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/custom_style.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css">
</head>
<body>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="business-area">
          <div class="business-logo"> <img src="img/logo.png" alt="RBCL Logo"> </div>
          <div class="business-name">
            <h1>Rastriya Beema <span> Company Limited</span> </h1>
          </div>
          <div class="tagline">always with you </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="top_bar">
          <ul class="list-unstyled list-inline text-right">
            <li class="list-inline-item">Check Mail</li>
            <li class="list-inline-item">Nepali</li>
          </ul>
        </div>
        <div class="botm_nav">
          <nav class="navbar navbar-expand-lg navbar-light cust_back">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Company</a> </li>
                <!--
					  <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Dropdown
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="#">Action</a>
						  <a class="dropdown-item" href="#">Another action</a>
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item" href="#">Something else here</a>
						</div>
					  </li>
-->
                <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Reports</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Media</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
              </ul>
              <ul>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>
<section class="banner-area">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"> <img class="d-block w-100" src="img/slide1.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Travelling Medical Insurance</h3>
          <div class="captio-body">
            <p>The objective of this insurance is to secure the doctor in compensation for the death or other losses of the patient when the doctor errs while providing medical services. And other objective of this insurance is to secure the health service provider agencies in </p>
          </div>
          <div class="caption_footer">
            <div class="row">
              <div class="col">View All</div>
              <div class="col text-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="prev">&lt;</a> </li>
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="next">&gt;</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img class="d-block w-100" src="img/slide1.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <div class="captio-body">
            <p>The objective of this insurance is to secure the doctor in compensation for the death or other losses of the patient when the doctor errs while providing medical services. And other objective of this insurance is to secure the health service provider agencies in </p>
          </div>
          <div class="caption_footer">
            <div class="row">
              <div class="col">View All</div>
              <div class="col text-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="prev">&lt;</a> </li>
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="next">&gt;</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item"> <img class="d-block w-100" src="img/slide1.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <div class="captio-body">
            <p>The objective of this insurance is to secure the doctor in compensation for the death or other losses of the patient when the doctor errs while providing medical services. And other objective of this insurance is to secure the health service provider agencies in </p>
          </div>
          <div class="caption_footer">
            <div class="row">
              <div class="col">View All</div>
              <div class="col text-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="prev">&lt;</a> </li>
                  <li class="list-inline-item"> <a href="#carouselExampleIndicators" role="button" data-slide="next">&gt;</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> --> 
  </div>
</section>
<div class="clearfix"></div>
<section class="quote_area">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 ">
        <div class="side_image_holder"> <img src="img/hand.png" alt="Image with plant on Hand"> </div>
      </div>
      <div class="col-12 col-lg-8 ">
		  
        <div class="section_title"> What do you want to insure? <span>Select a service to get a quote</span> </div>
        <div class="row no-gutters">
          <div class="col-12 col-lg-3">
            <div class="box-auto_pro">
              <div class="top_title_autopro"> Bundle & sve 50% <span>in auto Insurance</span> </div>
              <img src="img/apartment.png" alt="Auto Property">
              <div class="quote_title" >Auto Property</div>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <div class="row list_quote no-gutters">
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others" data-toggle="modal" data-target="#exampleModal">
                  <div class="image_holder_quote"> <span class="icon-car"></span> </div>
                  <div class="quote_title" >Auto</div>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others">
                  <div class="image_holder_quote"> <span class="icon-aeroplane"></span> </div>
                  <div class="quote_title">Aviation</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others">
                  <div class="image_holder_quote"><span class="icon-fire"></span></div>
                  <div class="quote_title">Fire</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others">
                  <div class="image_holder_quote"> <span class="icon-yatch"></span> </div>
                  <div class="quote_title">Marine</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others">
                  <div class="image_holder_quote"> <span class="icon-care"></span> </div>
                  <div class="quote_title">Medical Aid</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="box-others">
                  <div class="image_holder_quote"> <span class="icon-tap"></span> </div>
                  <div class="quote_title">More Choices</div>
                </div>
              </div>
            </div>
          </div>
        </div>
		  <!--Modal starts here-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document" style="max-width:86%">
				<div class="modal-content">
				  <div class="modal-body custom-dropdown-s">
					  <div class="modal-title-area">
						  <div class="text-center">
							  Auto Insurance
						  </div>
					  </div>
					  <form>
						  <div class="row">
						<div class="col-12 col-lg-4">
							<label>
								<span>
									<input class="form-control" type="text" required placeholder="Full Name">
								</span>
							</label>
						</div>
						<div class="col-12 col-lg-4">
							<label>
								<span>
									<input class="form-control" type="text" required placeholder="Phone">
								</span>
							</label>
						</div>
						<div class="col-12 col-lg-4">
							<label>
								<span>
									<input class="form-control" type="text" required placeholder="Email">
								</span>
							</label>
						</div>
					</div>
					  <div class="row">
						<div class="col-12 col-lg-4">
							<label>
								<span class="custom-dropdown">
								<span class="custom-dropdown-s">
									<select>
										<option value="Value">Value</option>
										<option value="$5000">$5000</option>
										<option value="$10000">$10000</option>
										<option value="$25000">$25000</option>
										<option value="$50000">$50000</option>
									</select>
								</span>
								</span>
							</label>
						</div>
						<div class="col-12 col-lg-4">
							<label>
								<span class="custom-dropdown">
								<span class="custom-dropdown-s">
									<select>
										<option value="Value">Insurance Type</option>
										<option value="Full Insurance">Full Insurance</option>
										<option value="Medium Insurance">Medium Insurance</option>
										<option value="Basic Insurance">Basic Insurance</option>
									</select>
								</span>
								</span>
							</label>
						</div>
						<div class="col-12 col-lg-4">
							<label>
								<span>
									<input class="form-control" type="text" required placeholder="Date">
								</span>
							</label>
						</div>
					</div>
					  <div class="row">
						  <div class="col">
							  <textarea class="form-control" rows="5" placeholder="Type Here ....">
								  
							  </textarea>
						  </div>
					  </div>
						  <div class="clearfix"></div>
						   <div class="row">
						  <div class="col">
							 <div class="text-right mar-10">
								 <button type="submit" class="btn btn-success">
									 Send a  Quote
								 </button>
							 </div>
						  </div>
					  </div>
					  </form>
					
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					
				  </div>
				</div>
			  </div>
			</div>
			<!--End of modal-->
      </div>
    </div>
  </div>
</section>
	
<section class="about_section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="section_title_abt">
					why rastriya beema?
				</div>
				<div class="content_why">
					<p>The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal Government for mobilization of internal resources and capital for national development, for checking burden of expense of foreign currency and to establish as a competent professional insurance company. Consequently, till its tenure, as of this day, this company has been successful in providing returns as per the goals and objectives set forth by the Government of Nepal. </p>
				</div>
				<div class="btn-area">
					<a href="#">Read more</a>
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="row no-gutters">
					<div class="col-4">
						<div class="box-claim">
							<div class="box-title">Claims Honoured</div>
							<div class="box-content_a">
								<div class="per_">
									90.21%
								</div>
								<p>
									<span class="stresk">**</span>
									individual death claims settled in FY-2073-74. 571/588 claims honoured, 17 claims rejected. 
								</p>
								
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="box-trust">
							<div class="box-title">Trust on Brand</div>
							<div class="box-content_a">
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item"><img src="img/logo.png" alt="RBCL Logo"></li>
									<li class="list-inline-item"><img src="img/logo.png" alt="RBCL Logo"></li>
								</ul>
								<p>
									The Rastriya Beema Company Ltd (RBCL) had been established by a decision of the then Nepal
								</p>
								
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="box-leader">
						<div class="box-title">Claims Honoured</div>
							<div class="box-content_a">
								<div class="per_">
<!--									<img src="img/"-->
								</div>
								<p>
									<span class="stresk">**</span>
									We have won best insurance company 3 times row 
								</p>
								
							</div>
						</div>
					</div>
					<div class="table-border-bg"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="news_section">
  <div class="section_title_news text-center"> For the Press </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="card"> <img class="card-img-top" src="img/slide1.jpg" alt="Card image cap">
          <div class="card-body"> <span class="news_date"> 2018/01/22 </span>
            <h4 class="card-title">Additional news regarding AGM of RBCL</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="achor_link">Go somewhere</a> </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card"> <img class="card-img-top" src="img/slide1.jpg" alt="Card image cap">
          <div class="card-body"> <span class="news_date"> 2018/01/22 </span>
            <h4 class="card-title">Additional news regarding AGM of RBCL</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="achor_link">Go somewhere</a> </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card"> <img class="card-img-top" src="img/slide1.jpg" alt="Card image cap">
          <div class="card-body"> <span class="news_date"> 2018/01/22 </span>
            <h4 class="card-title">Additional news regarding AGM of RBCL</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="achor_link">Go somewhere</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center news_button"> <a href="#" class="btn btn-primary btnlogn">Read More</a> </div>
</section>
<div class="clearfix"></div>
<section class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/speaker.png" alt="24/7 customer care"> <span> 24/7 customer care </span> </a> </div>
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/contact.png" alt="Get in touch wth us"> <span> Get in touch wth us </span> </a> </div>
      <div class="col-12 col-lg-4"> <a href="#"> <img src="img/request call back.png" alt="Request a Call Back"> <span> Request a Call Back </span> </a> </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="footer-title"> Insurance Offerings </div>
        <div class="i_offering">
          <ul class="list-unstyled">
            <li><a href="#">Fire Insurance</a></li>
            <li><a href="#">Aviation Insurance</a></li>
            <li><a href="#">Engineering Insurance</a></li>
            <li><a href="#">Travel Medical Insurance</a></li>
            <li><a href="#">Motor Insurance</a></li>
            <li><a href="#">Marine Insurance</a></li>
            <li><a href="#">Medical Aid Insurance</a></li>
            <li><a href="#">Miscellaneous Insurance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="footer-title"> Quick Service Links </div>
            <div class="quick_links">
              <ul class="list-unstyled">
                <li class=""><a href="#">Report a claim</a></li>
                <li class=""><a href="#">Make a payment</a></li>
                <li class=""><a href="#">Register for an account</a></li>
                <li class=""><a href="#">Forgot username / password</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="footer-title"> Contact Information </div>
            <div class="address-info">
              <address>
              <strong>Rastriya Beema Company Ltd</strong><br>
              R.B.S Building, Ramshahpath<br>
              P.O.ox :23837,Kathmandu<br>
              <abbr title="Phone">Phone:</abbr> (0977) 01-4258866<br>
              <abbr title="Fax">Fax:</abbr> (0977) 01-4258866<br>
              <abbr title="Email">Email:</abbr> info@rbcl.com.np<br>
              <abbr title="Website">Web:</abbr> www.rbcl.com.np<br>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-menu-social">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Company</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">Reports</a></li>
            <li class="list-inline-item"><a href="#">Media</a></li>
            <li class="list-inline-item"><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-5">
          <ul class="list-unstyled list-inline text-right">
            <li class="list-inline-item"><a href="#">Facebook</a></li>
            <li class="list-inline-item"><a href="#">Twitter</a></li>
            <li class="list-inline-item"><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6"> &copy; RBCL 2017. </div>
        <div class="col-12 col-lg-6">
          <div class="text-right"> Crafted with love </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--javascrits--> 
<script src="js/jquery-3.2.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script rel="javascript" src="js/bootstrap.min.js"></script>
<script rel="javascript" src="js/animatedModal.js"></script>
<script rel="javascript" src="js/classsie.js"></script>
	<script>
		$(document).ready(function(){
			$(".box-others").click(function(){
				$(".test").addClass("dis");
			});
			
});
		$(document).ready(function(){
			$(".close").click(function(){
				$(".test").removeClass("dis");
			});
			
});
</script>
	
</body>
</html>
