@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?cpvk2w");
  src: url("fonts/icomoon.eot?cpvk2w#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?cpvk2w") format("truetype"), url("fonts/icomoon.woff?cpvk2w") format("woff"), url("fonts/icomoon.svg?cpvk2w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-care:before {
  content: "";
}

.icon-aeroplane:before {
  content: "";
}

.icon-tap:before {
  content: "";
}

.icon-yatch:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-technical-support-1:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-guide:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-puzzle:before {
  content: "";
}

.icon-server-error:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-server:before {
  content: "";
}

.icon-pie-chart-presentation:before {
  content: "";
}

.icon-settings-3:before {
  content: "";
}

.icon-money-exchange:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-meeting:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-charts:before {
  content: "";
}

.icon-api:before {
  content: "";
}

.icon-coins-2:before {
  content: "";
}

.icon-brain:before {
  content: "";
}

.icon-technical-support:before {
  content: "";
}

.icon-browser-view:before {
  content: "";
}

.icon-flow-chart:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-goal:before {
  content: "";
}

.icon-earth:before {
  content: "";
}

.icon-help:before {
  content: "";
}

.icon-browser-cmd:before {
  content: "";
}

.icon-document:before {
  content: "";
}

.icon-deadline:before {
  content: "";
}

.icon-network:before {
  content: "";
}

.icon-coffee:before {
  content: "";
}

.icon-toolbox:before {
  content: "";
}

.icon-browsers:before {
  content: "";
}

.icon-presentation:before {
  content: "";
}

.icon-cloud-computing:before {
  content: "";
}

.icon-office-chair:before {
  content: "";
}

.icon-browser-5:before {
  content: "";
}

.icon-coinstwo:before {
  content: "";
}

.icon-browser-error:before {
  content: "";
}

.icon-coins:before {
  content: "";
}

.icon-browser-solved:before {
  content: "";
}

.icon-calendar22:before {
  content: "";
}

.icon-browser-2:before {
  content: "";
}

.icon-planning-strategy:before {
  content: "";
}

.icon-businesswoman:before {
  content: "";
}

.icon-conversation:before {
  content: "";
}

.icon-boss:before {
  content: "";
}

.icon-laptop-cog:before {
  content: "";
}

.icon-businessman:before {
  content: "";
}

.icon-laptop-sequrity:before {
  content: "";
}

.icon-brain-process:before {
  content: "";
}

.icon-repair:before {
  content: "";
}

.icon-bars:before {
  content: "";
}

.icon-browser-chat:before {
  content: "";
}

.icon-browser:before {
  content: "";
}

.icon-money:before {
  content: "";
}

.icon-bank-1:before {
  content: "";
}

.icon-bug-2:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-settings-code:before {
  content: "";
}

.icon-bank:before {
  content: "";
}

.icon-online-support-boy:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-online-support:before {
  content: "";
}

.icon-handshake:before {
  content: "";
}

.icon-laptop-5:before {
  content: "";
}

.icon-megaphone:before {
  content: "";
}

.icon-rating-22:before {
  content: "";
}

.icon-calculator-12:before {
  content: "";
}

.icon-hardware2:before {
  content: "";
}

.icon-calculator2:before {
  content: "";
}

.icon-customer-support-1:before {
  content: "";
}

.icon-laptop-4:before {
  content: "";
}

.icon-bug-1:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-24-hours:before {
  content: "";
}

.icon-rating-1:before {
  content: "";
}

.icon-rating:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-chat-1:before {
  content: "";
}

.icon-customer-support:before {
  content: "";
}

.icon-laptop-3:before {
  content: "";
}

.icon-laptop-22:before {
  content: "";
}

.icon-laptop-12:before {
  content: "";
}

.icon-laptop2:before {
  content: "";
}

.icon-chat2:before {
  content: "";
}

.icon-badge:before {
  content: "";
}

.icon-bill:before {
  content: "";
}

.icon-bills:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-box-1:before {
  content: "";
}

.icon-box-2:before {
  content: "";
}

.icon-box-3:before {
  content: "";
}

.icon-box-4:before {
  content: "";
}

.icon-box-5:before {
  content: "";
}

.icon-cash:before {
  content: "";
}

.icon-coin:before {
  content: "";
}

.icon-coins22:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-delivery:before {
  content: "";
}

.icon-dislike:before {
  content: "";
}

.icon-dollar-symbol:before {
  content: "";
}

.icon-dollar-symbol-1:before {
  content: "";
}

.icon-dollar-symbol-2:before {
  content: "";
}

.icon-dollar-symbol-3:before {
  content: "";
}

.icon-dollar-symbol-4:before {
  content: "";
}

.icon-dollar-symbol-5:before {
  content: "";
}

.icon-headphones22:before {
  content: "";
}

.icon-id-card:before {
  content: "";
}

.icon-invoice:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-like-1:before {
  content: "";
}

.icon-like-2:before {
  content: "";
}

.icon-mathematics:before {
  content: "";
}

.icon-money22:before {
  content: "";
}

.icon-money-bag:before {
  content: "";
}

.icon-monitor:before {
  content: "";
}

.icon-monitor-1:before {
  content: "";
}

.icon-newspaper:before {
  content: "";
}

.icon-package:before {
  content: "";
}

.icon-package-1:before {
  content: "";
}

.icon-package-2:before {
  content: "";
}

.icon-package-3:before {
  content: "";
}

.icon-package-4:before {
  content: "";
}

.icon-package-5:before {
  content: "";
}

.icon-package-6:before {
  content: "";
}

.icon-package-7:before {
  content: "";
}

.icon-padlock:before {
  content: "";
}

.icon-payment-method:before {
  content: "";
}

.icon-pen:before {
  content: "";
}

.icon-percentage:before {
  content: "";
}

.icon-pie-chart22:before {
  content: "";
}

.icon-piggy-bank:before {
  content: "";
}

.icon-piggy-bank-1:before {
  content: "";
}

.icon-piggy-bank-2:before {
  content: "";
}

.icon-price-tag:before {
  content: "";
}

.icon-profits:before {
  content: "";
}

.icon-settings22:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-shop:before {
  content: "";
}

.icon-shopping-bag:before {
  content: "";
}

.icon-shopping-bag-1:before {
  content: "";
}

.icon-shopping-bag-2:before {
  content: "";
}

.icon-shopping-bag-3:before {
  content: "";
}

.icon-shopping-bag-4:before {
  content: "";
}

.icon-shopping-bag-5:before {
  content: "";
}

.icon-shopping-bag-6:before {
  content: "";
}

.icon-shopping-bag-7:before {
  content: "";
}

.icon-shopping-bag-8:before {
  content: "";
}

.icon-shopping-bag-9:before {
  content: "";
}

.icon-shopping-bag-10:before {
  content: "";
}

.icon-shopping-basket:before {
  content: "";
}

.icon-shopping-cart:before {
  content: "";
}

.icon-shopping-cart-1:before {
  content: "";
}

.icon-shopping-cart-2:before {
  content: "";
}

.icon-shopping-cart-3:before {
  content: "";
}

.icon-shopping-cart-4:before {
  content: "";
}

.icon-shopping-cart-5:before {
  content: "";
}

.icon-shopping-cart-6:before {
  content: "";
}

.icon-shopping-cart-7:before {
  content: "";
}

.icon-shopping-cart-8:before {
  content: "";
}

.icon-shopping-cart-9:before {
  content: "";
}

.icon-speech-bubble:before {
  content: "";
}

.icon-speech-bubble-1:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-telephone:before {
  content: "";
}

.icon-telephone-1:before {
  content: "";
}

.icon-trolley:before {
  content: "";
}

.icon-truck:before {
  content: "";
}

.icon-truck-1:before {
  content: "";
}

.icon-wallet:before {
  content: "";
}
/*# sourceMappingURL=style.css.map */